<div class="newstaff">
  <form class="clearfix mb-4" action="POST">
    <h3>Add a new STAFF member:</h3>
    <br>
    <div class="form-group col-6 offset-3">
      <label for="example-text">Staff Member Name</label>
      <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Staff Name">
    </div>
    <br>
    <div class="form-group col-6 offset-3">
      <label for="example-description">Staff Member Role</label>
      <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter staff member job role"></textarea>
    </div>
    <button id="submit" class="btn btn-primary align-center">Submit</button>
    <br>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>